
/* Navbar Styling */
  .navbar-nav .nav-link:hover {
    color: #545454;
  }
  
/* Main Content Styling */
  body {
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    padding-top: 50px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }

/* Button Styling */
  .btn-primary {
    background-color: #f54748;
    border-color: #f54748;
  }
  
  .btn-primary:hover {
    background-color: #e63f40;
    border-color: #e63f40;
  }

/* Employee Testimonial Styling */
  .testimonial-box {
    background-color: #f9f9f9;
    border: 3px solid #8e8e8e;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .testimonial-img {
    width: 150px; /* Adjust image width as needed */
    border-radius: 50%; /* For rounded images */
    margin-right: 25px; /* Add spacing between the image and the text */
    margin-bottom: 25px;
  }
  
/* Footer Styling */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
/* Additional Styling */
  .row {
    margin-top: 10px;
  }

/* Swiper Styling */
   .main-slider {
    border: 2px solid #ddd; 
    padding: 20px; 
    width: 55%; 
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  .swiper-container {
    position: relative;
    overflow: hidden; 
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    max-height: 800px; 
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* FAQ Styling */
    .faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .faq-item h3 {
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .active .faq-answer {
    max-height: 100px; 
  }

  .faq-item {
    background-color: #f0f0f0; 
    padding: 10px; 
    margin-bottom: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; /
  }
  
  .faq-item:hover {
    background-color: #e0e0e0; 
  }

  .form-group {
    margin-bottom: 30px; 
  }

/* Job Listing Style */
  .job-listing {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }